<div class="container-fullsize">
  <div class="row justify-content-center mt-2">
    <div class="col-12 col-md-6 col-lg-2 mb-5">
      <button class="btn btn-outline-primary mt-2 w-100">Eventos</button>
      <button class="btn btn-outline-primary mt-2 w-100">Turmas</button>
    </div>

    <div class="col-12 col-md-6 col-lg-10 mb-5 mt-2">
      <h1 class="text-center text-roboto mb-4">Qual nota para o evento?</h1>

      <div class="rating">
        <span class="fa fa-star" (click)="avaliar(1)"></span>
        <span class="fa fa-star" (click)="avaliar(2)"></span>
        <span class="fa fa-star" (click)="avaliar(3)"></span>
        <span class="fa fa-star" (click)="avaliar(4)"></span>
        <span class="fa fa-star" (click)="avaliar(5)"></span>
      </div>
    </div>
  </div>
</div>
